* {color: white; font-family: Papyrus, fantasy;}
#about {}
body {
  background-color: darkgreen;}
  #leftPortion{width: 30%; margin: 5px; float: left;  }
  #centerPortion{width: 30%; margin: 5px; float: right;}
  #rightPortion{width: 30%; margin: 5px; float: right;}
  #yeah {list-style: upper-roman;}
