* {color: white; font-family: Papyrus, fantasy;}
#about {}
body {
  background-color: darkgreen;}
  #leftPortion{width: 30%; float: left;}
  #centralPortion{width: 30%; float: right;}
  #rightPortion{width: 30%; float: right}
  #yeah {list-style: upper-roman;}
